.container{
    width: 100%;
    flex-direction: column;
}

.content{
    background-color: rgba(40, 36, 46, 0.8);
    border-radius: 35px;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.plan{
    display: flex;
}

.plan_image{
    border: 3px solid #3d485e;
    background-image: url('../public/card-img-1.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 62px;
    width: 62px;
    border-radius: 20px;
    margin-right: 20px;
}

.plan_image2{
    border: 3px solid #3d485e;
    background-image: url('../public/card-img-2.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 62px;
    width: 62px;
    border-radius: 20px;
    margin-right: 20px;
}

.plan_image3{
    border: 3px solid #3d485e;
    background-image: url('../public/card-img-3.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 62px;
    width: 62px;
    border-radius: 20px;
    margin-right: 20px;
}

.button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscribe{
    color: #eceaf5;
    padding: 15px 50px;
    background: rgb(114,63,254);
    background: linear-gradient(120deg, rgba(114,63,254,1) 0%, rgba(174,85,255,1) 100%);
    box-shadow: 0px 0px 10px -1px rgba(114,63,254, 0.75);
    -webkit-box-shadow: 0px 0px 10px -1px rgba(114,63,254, 0.75);
    -moz-box-shadow: 0px 0px 10px -1px rgba(114,63,254, 0.75);
}

.back{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 800;
}

@media screen and (max-width: 768px){
    .subscribe{
        padding: 15px 20px;
    }
}